body {
    background-color: #434343;
    color: #ffffff;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.basic-styling{
    background-color: #434343;
    border: 1px rgb(116, 116, 116) solid;
    border-radius: 16px;
    padding: 5px;
    padding-left: 50px;
    text-align:left;

    margin-bottom: 15px;
}

h2{
    margin-bottom: 5px;
}

.content{
    background-color: #303030;
    border-radius: 32px;
    border: 1px rgb(116, 116, 116) solid;

    width: 50vw;
    padding: 16px;
    padding-top: 50px;
}

#player-counter{
    color: #aaaaaa;
    position: fixed;
    top: 85px;
    padding-left: 5px;
}

.basic-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.basic-info img{
    width: auto;
    height: 64px;
    border-radius: 8px;
    overflow: hidden;
}

.side-by-side{
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}

#indicator{
    background-color: orange;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.link-box{
    display: flex;
    align-items: center;
    background-color: #5c5c5c;
    border: solid #aaaaaa 1px;
    border-radius: 8px;
    height: 55px;
    width: 95%;
    padding-inline: 15px;
    margin-block: 15px;
    justify-content: space-between;
}

.link-box p {
    color: #aaaaaa;
}

.link-box a{
    color: #ffff;
}

iframe {
    height: 100%;
    aspect-ratio: 16 / 9;
    padding-inline: 12.5% ;
}